header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.logo-container {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem 1rem;
    }
}